.home-wrapper {
  margin-top: 100px;
  padding: 0;
  /* background-color: #0b0952; */
  /* background-color: #f4f7f9; */
  /* height: 1200px; */
  padding: 0 100px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: stretch;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.h2-1 {
  color: #fff;
  font-size: 90px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  /* padding-top: 150px; */
  margin: 0;
}

span {
  color: #fe3e57;
}

.sub-head {
  color: white;
  width: 90%;
  /* margin: 420px 0 0 90px; */
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-align: justify;
}

.socials {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* cursor: pointer; */
}

.icons {
  font-size: 24px;
  border-radius: 5px;
  padding: 12px 16px;
}

.icon {
  border: 1.5px solid #9b3475;
  color: #9b3475;
}

.icon2 {
  border: 1.5px solid #3053c4;
  color: #3053c4;
}

.icon3 {
  border: 1.5px solid #691c84;
  color: #691c84;
}

.hero-img {
  flex: 1;
}

/*fixing image height issue */
.head-img {
  min-height: max(80vh, 500px);

  position: relative;
}

.img-2 {
  /* border: 1px solid black; */
  /* height: px; */
  width: 90%;
  position: absolute;
  bottom: 0;
}
