.img-port {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.img-title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-family: "Now-Bold";
  /* letter-spacing: 5px; */
  /* padding-top: 100px; */
  padding-bottom: 10px;
  margin: 0;
  /* padding-left: 30px; */
}

.img-desc {
  color: white;
  width: 100%;
  /* margin: 420px 0 0 90px; */
  font-size: 18px;
  font-weight: 300;
  /* letter-spacing: 3px; */
  line-height: 1.5;
  /* text-align: justify; */
  font-family: "Now-Light";
  padding-bottom: 20px;
}

.img-cta {
  background-color: rgba(255, 255, 255, 0.3);
  /* height: 50px; */
  padding: 15px 50px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border: none;
  cursor: pointer;
  position: relative;
}

.img-wrapper {
  padding: 80px 50px;
}

.img-cta::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.img-port:hover{
  z-index: 100;
  animation: scale 0.1s linear;
  animation-fill-mode: forwards;
}

@keyframes scaledown {
  0%{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100%{
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  
}


@keyframes scale {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    /* box-shadow: 10px 10px 60px 10px rgba(255, 255, 255, 0.3); */
  }
  
}